@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  font-family: "Roboto", sans-serif;
  --primary-color: #e57368;
}
/*
all tags css 
 */
a {
  text-decoration: none;
  font-weight: 500;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
header {
  margin: 20px 50px;
  font-size: 16px;
  position: relative;
}
li {
  display: inline-block;
}
/* 
tags css 
*/
div.links-container {
  display: inline-block;
  position: absolute;
  right: 0;
}
#homepage-link {
  color: red;
}
.nav-links {
  font-size: 13px;
  color: black;
  margin: 0px 8px;
  font-weight: 400;
}
.nav-links:hover {
  color: red;
}
#button-links,
.button-links {
  font-size: 13px;
  color: white;
  background-color: var(--primary-color);
  margin: 0px 8px;
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
}
.button-links {
  width: 100px;
  text-align: center;
  margin: 0px auto;
  display: block;
}
.price {
  border-right: 1px solid grey;
  padding: 10px;
}
.title {
  text-align: center;
  font-weight: 500;
}
.moto {
  text-align: center;
  margin: 20px 0px;
  font-size: 12px;
  color: grey;
}
#banner-image {
  width: 100vw;
  display: block;
  margin: 10px;
}
